{% extends 'front/layout.html.twig' %}

{% block title "Bienvenue" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block body %}
<div class="max-w-screen-xl mx-auto px-4 mt-6 grid grid-cols-1 md:grid-cols-4 gap-6">
    <!-- Colonne principale -->
    <section class="md:col-span-3 space-y-16 md:space-y-10 mb-12">

        <div class="swiper carouselSwiper w-full max-w-5xl mx-auto">
            <div class="swiper-wrapper">
                <div class="swiper-slide relative rounded-sm">
                    <img src="{{asset('assets/media/covers/cover1.png')}}" class="h-64 w-full object-cover rounded-sm" />
                    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center md:justify-start px-5 md:px-12">
                        {# <div class="text-center md:text-start">
                            <h3 class="font-medium text-primary text-3xl mb-5">Titre 1</h3>
                            <p class="text-gray-600 text-lg">Texte de description 1</p>
                            <a href="#" class="inline-flex items-center font-bold text-xl text-secondary hover:text-green-700 transition-colors duration-300 group">
                                En savoir plus
                                <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                            </a>
                        </div> #}
                    </div>
                </div>
                <div class="swiper-slide relative rounded-sm">
                    <img src="{{asset('assets/media/covers/cover2.png')}}" class="h-64 w-full object-cover rounded-sm" />
                    <div class="absolute top-0 left-0 w-full h-full flex items-center px justify-center md:justify-start-5 md:px-12">
                        {# <div class="text-center md:text-start">
                            <h3 class="font-medium text-primary text-3xl mb-5">Titre 2</h3>
                            <p class="text-gray-600 text-lg">Texte de description 2</p>
                            <a href="#" class="inline-flex items-center font-bold text-xl text-secondary hover:text-green-700 transition-colors duration-300 group">
                                En savoir plus
                                <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                            </a>
                        </div> #}
                    </div>
                </div>
                <div class="swiper-slide relative rounded-sm">
                    <img src="{{asset('assets/media/covers/cover3.png')}}" class="h-64 w-full object-cover rounded-sm" />
                    <div class="absolute top-0 left-0 w-full h-full flex items-center px justify-center md:justify-start-5 md:px-12">
                        {# <div class="text-center md:text-start">
                            <h3 class="font-medium text-primary text-3xl mb-5">Titre 3</h3>
                            <p class="text-gray-600 text-lg">Texte de description 3</p>
                            <a href="#" class="inline-flex items-center font-bold text-xl text-secondary hover:text-green-700 transition-colors duration-300 group">
                                En savoir plus
                                <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                            </a>
                        </div> #}
                    </div>
                </div>
                <!-- Ajoute d'autres slides -->
            </div>

            <div class="swiper-pagination mt-4"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <div class="">
            <div class="flex justify-between items-start">
                <h2 class="text-primary font-bold text-xl">Actualités</h2>
                <a href="#" class="inline-flex items-center font-bold text-primary hover:text-blue-700 transition-colors duration-300 group">
                    Autres actualités
                    <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                </a>
            </div>

            <div class="mt-4 flex flex-wrap md:flex-nowrap justify-between gap-6">
                <a href="" class="flex bg-gray-100 rounded-sm shadow w-full md:w-1/2">
                    <div class=""><img src="{{asset('assets/media/actualites/image6.png')}}" alt="" class="min-w-[150px] h-full rounded-l-sm object-cover"></div>
                    <div class="p-4">
                        <p class="font-semibold">Les veux de la nouvelle annee du DG </p>
                    </div>
                </a>
                <a href="" class="flex bg-gray-100 rounded-sm shadow w-full md:w-1/2">
                    <div class=""><img src="{{asset('assets/media/actualites/image2.png')}}" alt="" class="min-w-[150px] h-full rounded-l-sm object-cover"></div>
                    <div class="p-4">
                        <p class="font-semibold">La BDU-CI réaffirme son engagement envers les jeunes talents en lançant la Saison 2 du Programme Pépinière d’Excellence BDU-CI</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- Autres actus ici -->
        <div class="">
            <div class="flex justify-between items-start">
                <h2 class="text-primary font-bold text-xl">Notes & publications</h2>
                <a href="{{path('notes_publications')}}" class="inline-flex items-center font-bold text-primary hover:text-blue-700 transition-colors duration-300 group">
                    Autres
                    <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                </a>
            </div>

            <ul class="mt-4 space-y-3">
                <li class="flex items-center gap-3">
                    <span class="flex-none w-4 h-4 bg-[#6ca942]"></span>
                    <a href="" class="text-sm leading-snug inline-flex items-center font-bold hover:text-primary transition-colors duration-300 group">
                        INNOVATION'S DAY 2025
                    </a>
                </li>
                <li class="flex items-center gap-3">
                    <span class="flex-none w-4 h-4 bg-[#6ca942]"></span>
                    <a href="" class="text-sm leading-snug inline-flex items-center font-bold hover:text-primary transition-colors duration-300 group">
                        Excellente Journée Internationale des Droits de la Femme 2025
                    </a>
                </li>
                <li class="flex items-center gap-3">
                    <span class="flex-none w-4 h-4 bg-[#6ca942]"></span>
                    <a href="" class="text-sm leading-snug inline-flex items-center font-bold hover:text-primary transition-colors duration-300 group">
                        Lancement de la campagne RAMADAN-PAKINOU 2025 – « Les 10 Ans de Partage : Une Décennie de Lumière et de Générosité »
                    </a>
                </li>
            </ul>
        </div>

        <div class="">
            <div class="flex justify-between items-start mb-4">
                <h2 class="text-primary font-bold text-xl">Votez pour l’Étoile du Mois !</h2>
            </div>

            <div class="relative bg-gray-100 p-6 rounded-sm flex flex-col md:flex-row items-center justify-between gap-6">
                <!-- Logo -->
                <div class="flex-none">
                    <img src="{{asset('assets/media/employees/best-employee.png')}}" alt="Best Employee" class="w-32 h-32 object-contain" />
                </div>

                <!-- Carrousel -->
                <div class="swiper voteSwiper grow max-w-[300px] sm:max-w-[400px]">
                    <div id="carousel-track" class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide bg-center bg-cover w-[25vw] h-[25vw] max-w-[150px] max-h-[150px]">
                            <img src="{{asset('assets/media/employees/image20.png')}}" class="w-full h-full block object-cover border rounded-sm" />
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide bg-center bg-cover w-[25vw] h-[25vw] max-w-[150px] max-h-[150px]">
                            <img src="{{asset('assets/media/employees/image19.png')}}" class="w-full h-full block object-cover border rounded-sm" />
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide bg-center bg-cover w-[25vw] h-[25vw] max-w-[150px] max-h-[150px]">
                            <img src="{{asset('assets/media/employees/image11.png')}}" class="w-full h-full block object-cover border rounded-sm" />
                        </div>
                        <!-- Slide 4 -->
                        <div class="swiper-slide bg-center bg-cover w-[25vw] h-[25vw] max-w-[150px] max-h-[150px]">
                            <img src="{{asset('assets/media/employees/image16.png')}}" class="w-full h-full block object-cover border rounded-sm" />
                        </div>
                        <!-- Slide 5 -->
                        <div class="swiper-slide bg-center bg-cover w-[25vw] h-[25vw] max-w-[150px] max-h-[150px]">
                            <img src="{{asset('assets/media/employees/image5.png')}}" class="w-full h-fullblock object-cover border rounded-sm" />
                        </div>
                    </div>
                </div>

                <!-- Texte + Bouton -->
                <div class="text-center flex-none max-w-[250px]">
                    <p class="text-black font-bold mb-4">
                        💡 Reconnaissons l’Excellence !<br />
                        Participez à l’élection du Salarié du Mois.
                    </p>
                    <a href="#" class="bg-[#6ca942] text-white font-bold py-2 px-6 rounded-full inline-block hover:bg-green-600 transition">
                        Je Vote
                    </a>
                </div>
            </div>
        </div>

        <div class="">
            <div class="flex justify-between items-start mb-4">
                <h2 class="text-primary font-bold text-xl">Ma prise en main</h2>
            </div>

            <!-- Bloc rendu responsive -->
            <div class="flex flex-col sm:flex-row sm:justify-between gap-8">
                <!-- Élément 1 -->
                <a href="" class="flex flex-col justify-center items-center gap-4 flex-1">
                    <img src="{{ asset('assets/media/features/Meeting1.png') }}"
                        class="w-full h-[134px] object-cover rounded-sm" />
                    <span class="text-primary font-semibold hover:underline">Ma mutuelle</span>
                </a>

                <!-- Élément 2 -->
                <a href="" class="flex flex-col justify-center items-center gap-4 flex-1">
                    <img src="{{ asset('assets/media/features/image.png') }}"
                        class="w-full h-[134px] object-cover rounded-sm" />
                    <span class="text-primary font-semibold hover:underline">Mon livret d’accueil</span>
                </a>

                <!-- Élément 3 -->
                <a href="" class="flex flex-col justify-center items-center gap-4 flex-1">
                    <img src="{{ asset('assets/media/features/image7.png') }}"
                        class="w-full h-[134px] object-cover rounded-sm" />
                    <span class="text-primary font-semibold hover:underline">My Bdu mobile</span>
                </a>
            </div>
        </div>
        
        <div class="publicite">
            <img src="{{asset('assets/media/pubs/images0.png')}}" class="w-full h-[90px] object-cover object-left" />
        </div>
        
    </section>

    <!-- Colonne latérale -->
    <aside class="md:col-span-1 space-y-4">

        <div class="flex flex-col border border-primary rounded">
            <h3 class="bg-primary text-lg font-semibold text-gray-50 p-2 md:px-3">Happy Birthday</h3>
            <div class="flex justify-between items-center p-3">
                <div class="border border-gray-500"><img class="h-75px max-w-[100px]" src="{{asset('assets/media/employees/image5.png')}}" alt="photo 1"></div>
                <div class="border border-gray-500"><img class="h-75px max-w-[100px]" src="{{asset('assets/media/employees/image11.png')}}" alt="photo 2"></div>
                <div class="border border-gray-500"><img class="h-75px max-w-[100px]" src="{{asset('assets/media/employees/image16.png')}}" alt="photo 3"></div>
            </div>
        </div>

        <div class="flex flex-col border border-primary rounded">
        
        </div>

        <div class="flex flex-col border border-[#6ca942] rounded">
            <h3 class="bg-[#6ca942] text-lg font-semibold text-gray-50 p-2 md:px-3">Tools</h3>
            <div class="p-3">
                <ul class="text-sm list-disc pl-4">
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            My DRH <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Amplitude <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Mon Avis compte <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Base de connaissance <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('fiche_declaration')}}" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Déclaration d'incidents <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Demande achat <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Autres outils <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col border border-primary rounded">
            <h3 class="bg-primary text-lg font-semibold text-gray-50 p-2 md:px-3">Le guide du banquier</h3>
            <div class="p-3">
                <ul class="text-sm list-disc pl-4">
                    <li>
                        <a href="{{path('guide_simulateur')}}" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Simulateur de credit <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('guide_convertisseur')}}" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Convertiseur de devise <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Procedures BDU CI <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Me former(e-lerning) <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('guide_myFaq')}}" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            My FAQ <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('dispositif_alerte')}}" class="inline-flex items-center font-bold hover:text-blue-700 transition-colors duration-300 group">
                            Dispositif d'alerte <svg class="ml-2 w-4 h-4 transform transition-transform duration-300 group-hover:translate-x-1" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 9 7.293 4.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-col border border-primary rounded">
            <img class="h-125px" src="{{asset('assets/media/bg/image14.png')}}" alt="">
        </div>
        <div class="flex flex-col border border-primary rounded">
            <img class="h-180px" src="{{asset('assets/media/bg/image17.png')}}" alt="">
        </div>
        <div class="flex flex-col border border-primary rounded">
            <img class="h-[165px]" src="{{asset('assets/media/bg/image9.png')}}" alt="">
        </div>
        
    </aside>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var carouselSwiper = new Swiper('.carouselSwiper', {
            loop: true,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var voteSwiper = new Swiper(".voteSwiper", {
            effect: "coverflow",
            initialSlide: 1,
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
        });
    });
</script>
{% endblock %}