<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: IntraWeb BDU-CI
Website: https://www.moussa-fofana.site
Email: hello@moussa-fofana.com
Contact: +225 07 471 612 21
-->
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="EMF Technologies : Moussa Fofana" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        
        <title>Intranet BDU-CI</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/favicons/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/favicons/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/favicons/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('assets/favicons/site.webmanifest')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}
        <style type="text/css">
        </style>
    </head>
    <body class="bg-white text-gray-800 font-[Roboto] text-base">
        <!-- Header -->
        {% include "front/_header.html.twig" %}

        <!-- Contenu principal -->
        {% block body %}{% endblock %}

        <!-- Footer -->
        {% include "front/_footer.html.twig" %}

        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}

        <script type="text/javascript">
            const toggleBtn = document.getElementById("menu-toggle");
            const topLine = toggleBtn.querySelector('.line-top');
            const middleLine = toggleBtn.querySelector('.line-middle');
            const bottomLine = toggleBtn.querySelector('.line-bottom');

            const navMenu = document.querySelector('header.main-menu nav');
            const navMenuForm = document.querySelector('header.main-menu form');
            const supMenu = document.querySelector('.sup-menu');
            const mainAfter = document.querySelector('#mainAfter');

            toggleBtn.addEventListener("click", () => {
                toggleBtn.classList.toggle("is-menuDisplayed");

                if (toggleBtn.classList.contains("is-menuDisplayed")) {
                    topLine.classList.add("rotate-45", "translate-y-1");
                    bottomLine.classList.add("-rotate-45", "-translate-y-1");
                    middleLine.classList.add("opacity-0");

                    navMenu.classList.remove("hidden", "items-center");
                    navMenu.classList.add("absolute", "flex", "flex-col", "w-full", "border-y-2", "px-5");
                    navMenuForm.classList.remove("border-l");

                    supMenu.classList.remove("hidden");
                    supMenu.classList.add("absolute", "p-5", "shadow-xl");

                    mainAfter.classList.remove("hidden");
                } else closeMenu();
            });

            mainAfter.addEventListener("click", () => {closeMenu()});
            
            function closeMenu() {
                topLine.classList.remove("rotate-45", "translate-y-1");
                bottomLine.classList.remove("-rotate-45", "-translate-y-1");
                middleLine.classList.remove("opacity-0");

                navMenu.classList.add("hidden", "items-center");
                navMenu.classList.remove("absolute", "flex", "flex-col", "w-full", "border-y-2", "px-5");
                navMenuForm.classList.add("border-l");

                supMenu.classList.add("hidden");
                supMenu.classList.remove("absolute", "p-5", "shadow-xl");

                mainAfter.classList.add("hidden");
            }
        </script>
    </body>
</html>